#root {
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 1rem;
}
.lefttext {
  text-align: left;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body {
  background-color: #fff;
}

input {
  background-color: #fff !important;
  border: 1px solid rgb(143, 143, 143);
  color: rgba(0, 0, 0, 0.87);
}